# Pyrogram implimantion 
pyrogram 
tgcrypto 
aiohttp
requests

# Database implimantion
pymongo
dnspython

langdetect
urlextract
requests
emojis
stellagban
pyromod
pykeyboard 
captcha
apscheduler
ffmpeg
youtube_dl
python-dotenv
